*{
    box-sizing: border-box;
    margin: 0;
    color: #222;
    text-transform: uppercase;
    font-family: "Courier Prime", monospace;
}

p{
    font-size: 30px;
}

label, form button{
    font-size: 16px;
}

body{
    height: 100vh;
    background-color: rgb(232, 236, 238);
    display:flex;
    flex-direction: column;
}

dialog{
    width: 500px;
    height: 300px;
    margin: 30vh auto;
    padding: 40px;
    text-align: center;
}

form{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    gap: 20px;
}

form article{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
}

form button{
    border: 1px solid #222;
    border-radius: 10px;
    background-color: #fff;
    padding: 10px 20px;
    width: 100px;
    height: 40px;
    transition: all .3s ease;
}

form input[type="text"]{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #222;
}

 form button, input[type="text"]{
box-shadow: 5px 5px 5px rgba(249, 78, 78, 0.3);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    position: relative;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
    background-color: #222;
}

.score{
    
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding: 10px 20px; 
}

.score article{
    display: flex;
    align-items: center;
    gap: 10px;
}

h2, h3, h4, h1{
    font-size: 40px;
    color: #fff;
}

h1{
    font-size: 60px;
    margin-bottom: 10px;
}

h2{
    text-shadow: 3px 2px 2px rgba(251, 12, 12,1), 0px -1px 3px rgba(12, 79, 251,.5);
}

h3{
  text-shadow: 3px 2px 2px rgba(52, 251, 12, 1), 0px -1px 3px rgba(12, 79, 251,.5);
}

 h4, h1, .board button {
    text-shadow: 3px 2px 2px rgba(251, 12, 12,1), 0px -1px 3px rgba(12, 79, 251,.5),-3px 0px 2px rgba(52, 251, 12, 1);

 }

.player, .computer{
    border: 4px solid #fff;
    border-radius: 10px;
    padding: 10px 20px;
}

.player{
    box-shadow: 3px 2px 2px rgba(251, 12, 12,1), 0px -1px 3px rgba(12, 79, 251,.5);
}

.computer{
    box-shadow: 3px 2px 2px rgba(52, 251, 12, 1), 0px -1px 3px rgba(12, 79, 251,.5);
}

.board{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    padding: 20px;
}

.board button {
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(249, 78, 78, 0.3);
    width: 140px;
    aspect-ratio: 1/1;
    font-size: 80px;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease;
    
}

.board button:hover:enabled, form button:hover{
    background-color: rgb(251, 160, 160);
}

.board button:disabled{
    color: #222;
}

.next{
    position: absolute;
    width: 400px;
    height: 100px;
    font-size: 40px;
    border: 4px solid #fff;
    border-radius: 10px;
    /* outline: 1px solid #222; */
    background-color: #222;
    color: #fff;
    transition: all .3s ease;
    opacity: 0.8;
    z-index: 100;
}

.next:hover{
    text-shadow: 3px 2px 2px rgba(251, 12, 12,1), 0px -1px 3px rgba(12, 79, 251,.5),-3px 0px 2px rgba(52, 251, 12, 1);
    font-size: 50px;
    width: 420px;
    height: 105px;
}

.next:disabled{
    opacity:0;
    z-index: -100;
}

.result article{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.restart{
    width: 300px;
    height: 60px;
}


